<!DOCTYPE HTML>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <title>Next Bachelor</title>
    <meta name="description" content="Lithium Description" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <link href="css/plugins.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="css/application.css" media="screen" rel="stylesheet" type="text/css" />
    <script src="js/libs/modernizr-2.6.2.min.js"></script>
  </head>

<body>

  <section id="page-container">


    <!-- HERO -->
    <section id="page-hero">
      <div class="site-inner">


        <h1 class="heading h-01">Who Will Be the Next Bachelor?</h1>
        <style>
          div.relative {
              position: relative;
              left: 250px;
            }
            </style>

            <div class="relative">


          <p>
            <img src="images/powered-by-ibm-watson.jpg" alt="IBM" style="width:250px;height:66px;">
          </p>
          <p> </p> <p> </p> <p> <p/>
            </div>
      </div>
    </section>




    <!-- HERO -->
    <section id="page-work" class="section">
      <div class="site-inner">
        <h1 class="heading h-01">2017 Contestants</h1>
        </div>

        <section id="work-grid" class="site-inner">

          <div class="work-item" data-groups='["all", "webdesign"]' data-url="http://dribbble.com">
            <figure class="image-container"><img src="images/work/dean.png" /></figure>
            <h2 class="heading h-02">Dean Unglert</h2>
            <h2 class="copy-03">Web Design</h2>
          </div>

          <div class="work-item" data-groups='["all", "webdesign"]' data-url="http://dribbble.com">
            <figure class="image-container"><img src="images/work/peter.png" /></figure>
            <h2 class="heading h-02">Peter Kraus</h2>
            <p class="copy-03">Web Design</p>
          </div>

          <div class="work-item" data-groups='["all", "icondesign"]' data-url="http://dribbble.com">
            <figure class="image-container"><img src="images/work/bryan.png" /></figure>
            <h2 class="heading h-02">Bryan Abasolo</h2>
            <p class="copy-03">Icon Design</p>
          </div>

          <div class="work-item" data-groups='["all", "icondesign"]' data-url="http://dribbble.com">
            <figure class="image-container"><img src="images/work/eric.png" /></figure>
            <h2 class="heading h-02">Eric Bigger</h2>
            <p class="copy-03">Icon Design</p>
          </div>

          <div class="work-item" data-groups='["all", "webdesign"]' data-url="http://dribbble.com">
            <figure class="image-container"><img src="images/fidgetspinner.jpeg" /></figure>
            <h2 class="heading h-02">Fidget Spinner</h2>
            <p class="copy-03">Web Design</p>
          </div>





          <div class="shuffle__sizer"></div>
        </section>

        <a href="#" class="button main rounded"> Click for More Insights </a>
      </div>

      <div id="work-detail">
        <span class="close-icon">x</span>
        <div class="inner site-inner"></div>
      </div>

    </section>


    <!-- PHOTOGRAPHY -->
    <section id="page-photography" class="section">
      <div class="site-inner">
        <h1 class="heading h-01">Photography</h1>

        <p class="copy-01">In my life there is a place for photos. I love to share experiences and beautiful moments of your life with others. You can see the first examples of the new work, or photos from my vacation or a walk in the park. I thought you would be interested.</p>

        <section id="photo-grid">
          <div class="photo-item" data-url="http://flickr.com">
            <figure class="image-container"><img src="images/photos/photo-one.jpg" /></figure>
          </div>
          <div class="photo-item" data-url="http://flickr.com">
            <figure class="image-container"><img src="images/photos/photo-two.jpg" /></figure>
          </div>
          <div class="photo-item" data-url="http://flickr.com">
            <figure class="image-container"><img src="images/photos/photo-three.jpg" /></figure>
          </div>
          <div class="photo-item" data-url="http://flickr.com">
            <figure class="image-container"><img src="images/photos/photo-four.jpg" /></figure>
          </div>
          <div class="photo-item" data-url="http://flickr.com">
            <figure class="image-container"><img src="images/photos/photo-five.jpg" /></figure>
          </div>
          <div class="photo-item" data-url="http://flickr.com">
            <figure class="image-container"><img src="images/photos/photo-six.jpg" /></figure>
          </div>
        </section>

        <a href="#" class="button main rounded">See My Photoblog</a>

      </div>
    </section>
</body>
</html>
